.header {
    margin-top: 1em;
    font-size: 32px;
    font-weight: bold;
    display: block;
    page-break-before:always;
    page-break-after:auto;
}

.majortitle {
    display: none;
}

.chapter {
    margin-top: 1em;
}

.chaptermarker {
    font-size: 32px;
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 0.25em;
}

.verse{
    font-size:20px;
    font-weight:normal;
}

.versemarker {
    font-size: 10px;
    vertical-align: top;
}
/* Format Styles */
.single-space{
    line-height:1;
}
.double-space{
    line-height:2;
}

.one-column{
    columns:1;
}
.multi-column{
    columns:2;
}